body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background: white;
  margin: 20px;
  top: 20px;
  
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
}

h2 {
  color: #2563eb;
}
button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}