body {
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.card {
  width: 320px;
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.card h2 {
  color: #0077cc;
  margin-bottom: 15px;
}

.card p {
  margin: 8px 0;
}

.card button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #0077cc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.card button:hover {
  background: #005fa3;
}
.profile {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.form{
  width:350px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.form input{
  padding:10px;
  font-size:16px;
}

.form button{
  padding:12px;
  background:#0077ff;
  color:white;
  border:none;
  cursor:pointer;
  border-radius:6px;
}

.form button:hover{
  background:#005fd4;
}